/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;600;900&family=Open+Sans&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}
body{
    background-color: black;
}

/* CONTAINER */
.container {
    display: block;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(42, 42, 42);
    height: 50px;
    margin-bottom: 8px;
}

.header img {
    height: 50px;
}

#cards-container {
    display: none;
}

.card, .card img, .card p {
    display: none;
}


/* CALCULATOR */

.calculator {
    padding: 5px;
    height: 90vh;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    background-color: black;
}

.screen {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    color: white;
    height: 60px;
    background-color: black;
    text-align: end;
    font-size: 25px;
    align-items: center;
}

.screen input{
    color: rgb(255, 255, 255);
    background-color: black;
    width: 100%;
    min-width: calc(100% - 10px);
    height: 30px;
    text-align: end;
    font-size: 25px;
    border-style: none;
    padding-top: 10px;
}



/* SIMPLE */

.simple {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    height: 80%;
    transition: 600ms;
    margin-bottom: 4px;
}

.simple label{
    background-color: rgb(126, 82, 0);
}

.not-hidden{
    display: flex;
    flex-direction: column-reverse;
}

.op-button {
    background-color: black;
    color: orange !important;
    
}

.orange-button {
    background-color: rgb(126, 82, 0);
}

.logo {
    position: relative;
    left: 35%;
    top: 2vh;
    height: 45px;
    width: 40px;
    pointer-events: none;
    transition: 600ms;
    border-width: 5px;
    border-color: orange;
    border-bottom-style: solid;
    animation-name: logo-border;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes logo-border {
    0% {border-color: rgb(75, 49, 0);}
    50% {border-color: orange;}
    100% {border-color: rgb(75, 49, 0);}
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: white;
    background-color: black;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-radius: 50%;
    margin: 4px;
    transition: 600ms;
    font-size: 25px;
}

button:hover {
    border-color: orangered;
}

/* SCIENTIFIC */

.sci-button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: white;
    border-color: orange;
    min-width: 30px;
    min-height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin: 4px;
    transition: 600ms;
}


.scientist {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 0vh;
        transition: all 600ms;
}

.scientist button {
    border-color: orange;
}

.scientist button:hover {
    border-color: orangered;
}


#check {
    display: none;
}


#check:checked ~ .simple button, .scientist button {
    width: 50px;
    height: 50px;
    font-size: unset;
}

#check:checked ~ .simple{
    height: 41vh;
    transition: 600ms;
    
}

#check:checked ~ .simple img {
    width: 30px;
    height: 35px;
    left: 3.5vh;
    transition: 600ms;
}

#check:checked ~ .scientist {
    transition-delay: 600ms;
    transition: 600ms;
    display: grid;
    height: 21vh;
}

#check:checked ~ .sci-button {
    background-color: rgb(126, 82, 0);
    border-color: white;
    transition: 600ms;
}

@media screen and (min-width: 769px) {

    body{
        background: linear-gradient(to bottom right, rgba(4, 7, 58, 0.541), rgb(12, 61, 80));
    }
    
    .card, .card img, .card p {
        display: block;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100vh;
    }

    .header {
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        align-items: center;
        height: 90px;
    }

    .header img {
        width: 200px;
    }

    #cards-container {
        display: flex;
        justify-content: space-around;
        width: 60%;
        height: 550px;
        position: relative;
    }
    
    

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 250px;
        height: 250px;
        border-style: solid;
        border-radius: 5px;
        box-shadow: 10px 5px rgb(5, 64, 68);
        color: white;
        margin-right: 10px;
    }

    .card h3{
        font-size: 30px;
        text-shadow: 2px 2px 2px black;
    }

    .card p{
        font-size: 20px;
    }

    .operators {
        width: 100%;
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .operators i{
        font-size: 30px;
        color: white;
    }


    .card:nth-child(2) {
        align-self: center;
    }

    .card:nth-last-child(1) {
        align-self: flex-end;
    }

    

    .card img {
        width: 200px;
        border-radius: 5px;
    }


    .calculator {
        margin-right: 50px;
        width: 30%;
        border-color: rgb(143, 143, 143);
    }

    .display {
        align-content: center;
        border-style: solid;
        border-width: 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(71, 71, 71);
    }

    

    .simple {
        transition: none;
        position: relative;
        height: 45vh;
        margin-bottom: 8px;
    }

    .simple button, .scientist button {
        width: 90%;
        height: 70px;
        margin-bottom: 10px;
}

.logo {
    left: 35%;
    top: 30%;
}

button {
    border-radius: 5px;
    width: 90%;
    box-shadow: 1px 1px rgb(160, 160, 160);
    transition: none;
}

.scientist {
    display: grid;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sci-button {
    display: none;
}

}



